---
import { Icon } from "astro-icon";
const { repo } = Astro.props;
const name = repo.name;
const description = repo.description;
const stars = repo.stargazers_count;
const watchers = repo.watchers_count;
const url = repo.html_url;
const createdAt = repo.created_at;
const updatedAt = repo.updated_at;
const language = repo.language;
---

<a
    class="flex flex-col p-4 transition-all duration-150 ease-linear outline outline-2 outline-white/10 hover:outline-white/20 hover:-translate-y-2 group"
    href={url}
>
    <h3
        class="font-mono text-xl font-bold transition-colors duration-150 ease-linear group-hover:bg-white group-hover:text-black"
    >
        {name}
    </h3>
    <div class="flex flex-col justify-between h-full gap-2">
        <p>{description}</p>
        <div class="flex gap-2">
            <span class="flex items-center gap-1 font-semibold">
                <Icon
                    name="ic:round-star"
                    class="w-6 h-6 transition-colors duration-150 ease-in-out group-hover:text-yellow-400"
                />
                {stars}
            </span>
            <span class="flex items-center gap-1">
                <Icon
                    name="ic:round-remove-red-eye"
                    class="w-6 h-6 font-semibold transition-colors duration-150 ease-in-out group-hover:text-rose-400"
                />
                {watchers}
            </span>
            <span class="flex items-center gap-1 ml-auto">
                <Icon
                    name="ic:baseline-language"
                    class="w-6 h-6 font-semibold transition-colors duration-150 ease-in-out group-hover:text-blue-500"
                />
                {language}
            </span>
        </div>
    </div>
</a>
